@keyframes marquee {
    0% {left: 100%;}
    100% {left: -100%;}
}

.MMM-NewsFeedTicker {
    width: 100%;
    height: 100px;
    line-height: 100%;
    overflow: hidden;
    background-color: maroon;
}

.MMM-NewsFeedTicker .tickerbody {
    position: relative;
    bottom: 0;
    left: 0;
    vertical-align: middle;
    white-space: nowrap;
    text-align: left;
    animation: marquee 31s linear;
  }

.MMM-NewsFeedTicker .headline {
    padding-top: 15px;
    margin: 0 auto;
    white-space: nowrap;
}

.MMM-NewsFeedTicker .image {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  bottom: 10;
  left: 0;
  height: 100px;
  z-index: 10;
  background-color: #FFF;
}
